## [Start] Setting "isUsed" to default value of "false". **
$util.qr($context.args.input.put("isUsed", $util.defaultIfNull($ctx.args.input.isUsed, false)))
## [End] Setting "isUsed" to default value of "false". **
{}