## [Start] Setting "timezone" to default value of "UTC". **
$util.qr($context.args.input.put("timezone", $util.defaultIfNull($ctx.args.input.timezone, "UTC")))
## [End] Setting "timezone" to default value of "UTC". **
{}