## [Start] Setting "isFlagged" to default value of "false". **
$util.qr($context.args.input.put("isFlagged", $util.defaultIfNull($ctx.args.input.isFlagged, false)))
## [End] Setting "isFlagged" to default value of "false". **
## [Start] Setting "isResolved" to default value of "false". **
$util.qr($context.args.input.put("isResolved", $util.defaultIfNull($ctx.args.input.isResolved, false)))
## [End] Setting "isResolved" to default value of "false". **
{}